.App {
  text-align: center;
}

.App-logo {
  height: 320px;
  border-radius: 50%;
}

.App-header {
  background-color: #B31B1B;
  height: 600px;
  padding: 80px;
  color: white;
}

.App-title {
  font-size: 3em;
}

