.ExperienceCard-title {
  font-size: 1em;
  color: black;
  padding: 10px;
  position: relative;
  float: right;
  vertical-align: top;

}
.ExperienceCard-description {
  font-size: 1em;
  color: black;
  width: 500px;
  float: left;
}