#experiencecard--wrapper {
  overflow:hidden;
  display: grid;
  grid-template-columns: 20% 75%;
  grid-template-rows: 90% 5% 5%;
  grid-gap: 5%;
  color: white;
  font-size: 4vmin;
  padding: 2em;
  text-align: left;
}


main,
aside {
  background: #B31B1B;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}